{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container col-11 bg-white my-md-3 py-md-4 px-md-4">
    <h1 style="text-align: center">FoundationFinder</h1>
    <br>
    <div class="row">
        {% for product, shade, src, url, score in products_shades %}
            <div class="col-sm-3">
                <div class="card"  style="width: 18rem;">
                    <img class="card-img-top" width="350pt" src="{{ src }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        {% if score >= 90 %}
                            <h6 class="card-subtitle">Matching score: {{ score }}%</h6>
                        {% endif %}

                        {% for s in shade %}
                            <p class="card-text">{{ s }}</p>
                        {% endfor %}
                        <a href="{{ url }}" class="btn btn-primary" target="_blank">Visit Sephora</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}